.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.main_wrapper {
  width: 35em;
  height: 15em;
  background: linear-gradient(rgba(128, 128, 128, 0.64), rgba(255, 192, 203, 0.55));
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 25px;
  }

.main_block {
  display: grid;
  grid-template-columns: 250px 250px;
  gap: 20px 20px;
  top: 50%;
  left: 46.5%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}


